body {
  margin: 0;
}

#app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 1fr 25vw;
}

#header {
    background-color: teal;
    width: 100vw;
    flex-grow: 1;
    position: relative;

    display: flex;
    align-items: center;
    gap: 20px;
}

#header>img {
    position: absolute;
    top: 0;
    right: 0;

    height: 50px;
}

#header>#coins {
    font-size: 2.5rem;
}

#accountinfo {

}

#accountinfo>img {
    height: 50px;
}

#navbar {
    width: 100vw;

    flex-grow: 1;
    display: flex;
    background-color: red;
}

.navitem {
    flex-grow: 1;
    border: 5px solid black;


}

#assets, #market, #games {
    overflow: scroll;
    background-color: goldenrod;
    flex-grow: 1;
}

#nftcontainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.nftitem {
    /* border: 5px solid black; */
    position: relative;
}

.nftitem>img {
    width: 40vw;
    display: block;
}

.nftitem>.nftinfo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    pointer-events: none;
    filter: opacity(0);

    transition: all 0.3s;

    width: 40vw;
    height: 40vw;

    color: white;
}

.nftitem>.nftinfo.shown {
    filter: opacity(1);
}

.nftitem>.nftinfo.shown>button {
    pointer-events: all;
}

.nftitem button {
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;
}

#games {
    display: flex;
    flex-direction: column;
}

#clicker {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

#clickerheader {
    display: flex;
    gap: 20px;
}

#clicker>#tenshibox {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;


    animation: float 1s infinite;
}

@keyframes float {
    0% {transform: translate(0%,  0%)}
    50% {transform: translate(0%,  -10%)}
    100% {transform: translate(0%,  0%)}
}

#clicker>#tenshibox>#tenshi {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    height: 160px;
    width: 160px;

    position: relative;
    z-index: 1;
}

#clicker>#tenshibox>#icon {
    position: absolute;
    z-index: 0;

    height: 87px;
    border-radius: 23px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clicker>#gamebox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: green;

    justify-content: center;
    align-items: center;
}

#clicker #planet {
    height: 90vw;
    width: 90vw;
    border-radius: 100%;

    background-color: #fff;
    position: relative;
}

#clicker .marker {
    background-color: red;
    border-radius: 100%;
    color: white;

    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
}

#clicker .marker:hover {
    filter: brightness(0.3);
}

#clicker .marker.clicked {
    transform: translate(-50%, -50%) scale(12.5rem);
    border: 5px solid black;
}

#clicker .marker>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




#progressring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

circle {
    transition: stroke-dashoffset 1000ms linear;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

