:root {
    --mining-color: 'black';
    --blue-grow: 0;
    --black-grow: 0;
    --green-grow: 0;
    --time-range: 1000;
    --fluid-height: 0%;
}

@font-face {
    font-family: magnawave;
    src: url("./fonts/magnawave.otf");
}

body {
  margin: 0;
}

#app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 1fr 25vw;
    font-family: magnawave, sans-serif;
}

#header {
    background-color: black;
    color: white;

    width: 100vw;
    flex-grow: 1;
    position: relative;

    display: flex;
    align-items: center;
    gap: 20px;
}

#header>img {
    position: absolute;
    top: 0;
    right: 0;

    height: 50px;
}

#header>#coins {
    font-size: 2.5rem;
}

#accountinfo {

}

#accountinfo>img {
    height: 50px;
}

#navbar {
    width: 100vw;

    flex-grow: 1;
    display: flex;
    background-color: red;

    transform: translateX(0%);
    transition: all 500ms;
    transition-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
}

#navbar.hidden {
    transform: translateX(-100%);
}

.navitem {
    flex-grow: 1;
    border: 5px solid black;


}

#assets, #market, #games {
    overflow: scroll;
    background-color: goldenrod;
    flex-grow: 1;
}

#nftcontainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.nftitem {
    /* border: 5px solid black; */
    position: relative;
}

.nftitem>img {
    width: 40vw;
    display: block;
}

.nftitem>.nftinfo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    pointer-events: none;
    filter: opacity(0);

    transition: all 0.3s;

    width: 40vw;
    height: 40vw;

    color: white;
}

.nftitem>.nftinfo.shown {
    filter: opacity(1);
}

.nftitem>.nftinfo.shown>button {
    pointer-events: all;
}

.nftitem button {
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;
}

#games {
    display: flex;
    flex-direction: column;
}

#clicker {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background-color: rgb(95, 35, 151);
    position: relative;
}

#clickerheader {
    display: flex;
    gap: 20px;
    height: 10vh;
}

#clicker>#tenshibox {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 25vw;
    transform: translate(-50%,  0%);

    animation: float 1s infinite;
    filter: drop-shadow(0px 40px 10px black);
}

@keyframes float {
    0% {transform: translate(-50%,  0%); filter: drop-shadow(0px 40px 10px black);}
    50% {transform: translate(-50%,  -10%); filter: drop-shadow(0px 60px 13px black);}
    100% {transform: translate(-50%,  0%); filter: drop-shadow(0px 40px 10px black);}
}

#clicker>#tenshibox>#tenshi {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    height: 100px;
    width: 100px;

    position: relative;
    z-index: 1;
    animation: tenshishadow 1s infinite;
}

#clicker>#tenshibox>#icon {
    position: absolute;
    z-index: 0;

    height: 87px;
    border-radius: 23px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clicker>#gamebox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;
}

#planet #multiplier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: opacity(0.2);
    font-weight: bolder;
    font-size: 40vw;
    pointer-events: none;
}

#planet #multiplier.bounce {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0% {font-size: 25vw; filter: opacity(0.2);}
    25% {font-size: 40vw; filter: opacity(0.5);}
    100% {font-size: 25vw; filter: opacity(0.2);}
}

#gamebox>#effects {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    filter: opacity(0.4) grayscale(100%);
}

#gamebox>#effects img {
    height: 40px;
}

#gamebox>#chestbox {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 4;

    height: 50px;
    width: 50px;
    transform: scale(2);
    display: none;

    background-image: url("../src/art/smallchest1.png");
    animation: smallchest 1.2s linear, smallchestbounce 1.2s cubic-bezier(1,-0.32, 1, 0.14);
    animation-direction: reverse;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    pointer-events: none;
}

#gamebox>#chestbox.shown {
    display: block;
    filter: opacity(0);
}

@keyframes smallchest {
    0% {background-image: url("../src/art/smallchest1.png");}
    75% {background-image: url("../src/art/smallchest1.png");}
    76% {background-image: url("../src/art/smallchest2.png");}
    100% {background-image: url("../src/art/smallchest2.png");}
}

@keyframes smallchestbounce {
    0% {transform: scale(1.5); filter: opacity(1);}
    35% {transform: scale(2); filter: opacity(1);}
    75% {transform: scale(1.5); filter: opacity(1);}
    100% {transform: scale(1.5); filter: opacity(1);}
}

#gamebox>#chestbox>#smallchestimg {
    filter: drop-shadow(5px 5px 5px black);
    animation: smallchestitem 1.2s cubic-bezier(1,-0.32, 1, 0.14);
    animation-direction: reverse;
}

@keyframes smallchestitem {
    0% {transform: translateY(0%) scale(0.5); filter: opacity(0)}
    35% {transform: translateY(0%) scale(0.5); filter: opacity(0)}
    75% {transform: translateY(-50%) scale(0.5); filter: opacity(1)}
    100% {transform: translateY(0%) scale(0.5); filter: opacity(1)}
}

#clicker #planet {
    height: 90vw;
    width: 90vw;
    border-radius: 100%;

    background-color: white;
    background-image: linear-gradient(to bottom right, white, pink);
    position: relative;

    border: 5px solid black;
}

#clicker .marker {
    background-color: red;
    border-radius: 100%;
    color: white;

    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;
    animation: marker 0.3s;
}

@keyframes marker {
    from {filter: opacity(0); transform: translate(-50%, -50%) scale(0.5)}
    to {filter: opacity(1); transform: translate(-50%, -50%) scale(1)}
}

#clicker .marker.clicked {
    transform: translate(-50%, -50%) scale(12.5rem);
    border: 5px solid black;
}

#clicker .marker.greenclicked {
    pointer-events: none;
    filter: opacity(0.6);
    transform: translate(-50%, -50%) scale(0.5);

}

#clicker .marker>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}




#progressring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

circle {
    transition: stroke-dashoffset var(--time-range) linear;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#startbtnbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150px;
    height: 75px;

    display: none;
}

#startbtnbox>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 150%;
    height: 150%;
    pointer-events: none;
}


#startbtnbox>svg>polyline {
    position: absolute;
    transform: translate(38px, 20px);

    fill: none;
    stroke: black;
    stroke-width: 10;
    stroke-dasharray: 20 20;
    stroke-linecap: round;

    animation: startbtn 1s linear forwards infinite;

}

@keyframes startbtn {
    0% {stroke-dashoffset: 0; stroke-width: 5;}
    50% {stroke-dashoffset: 60; stroke-width: 20;}
    100% {stroke-dashoffset: 120; stroke-width: 5;}
}

#startbtn {
    border: none;
    background-color: transparent;

    font-size: 3rem;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: magnawave, sans-serif;

    height: 90vw;
    width: 90vw;
    border-radius: 100%;
    animation: inout 0.6s infinite;
}

#startbtnbox.shown {
    display: block;
}   

@keyframes inout {
    0% {font-size: 3rem;}
    30% {font-size: 4.5rem;}
    100% {font-size: 3rem;}
}

#mininganimation {
    height: 60px;
    width: 60px;
    border-radius: 100%;

    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    pointer-events: none;

    animation: rodani 0.5s linear infinite;
}

@keyframes rodani {
    0% {transform: translate(-50%, -50%) scale(1);
            border: 0px solid var(--mining-color);
            filter: opacity(0.7)}
    30% {transform: translate(-50%, -50%) scale(2);
            border: 10px solid var(--mining-color);
            filter: opacity(1)}
    100% {transform: translate(-50%, -50%) scale(4);
            border: 0px solid var(--mining-color);
            filter: opacity(0)}
}


#planet.miss {
    animation: miss 0.5s;
}

@keyframes miss {
    0% {background-color: white;}
    50% {background-color: red;}
    100% {background-color: white;}
}

#planet.success {
    animation: success 0.5s 2;
}

@keyframes success {
    0% {background-color: white;}
    50% {background-color: orange;}
    100% {background-color: white;}
}

#planet.cracked {
    animation: planetcracked 1s infinite;
}


#planet>#planetleft {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    height: 100%;
    width: 50%;
    background-color: inherit;

    border-top-left-radius: 364px;
    border-bottom-left-radius: 364px;
    transform-origin: bottom right;
    animation: leftcrack 2s;
    pointer-events: none;
}

#planet>#planetleft.shown {
    display: block;
    filter: opacity(0);
}

#planet>#planetleft.shownreverse {
    display: block;
    filter: opacity(0);
    animation-direction: reverse;
}

@keyframes leftcrack {
    0% {transform: rotate(0deg); filter: opacity(1)}
    50% {transform: rotate(0deg); filter: opacity(1) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.733))}
    100% {transform: rotate(-90deg) translateX(-100%); filter: drop-shadow(20px 5px 15px rgba(0, 0, 0, 0.787))}
}

#planet>#planetright {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;

    border-radius: 0 200% 200% 0;
    height: 100%;
    width: 50%;
    background-color: inherit;

    border-top-right-radius: 364px;
    border-bottom-right-radius: 364px;
    transform-origin: bottom left;
    animation: rightcrack 2s;
    pointer-events: none;
}

#planet>#planetright.shown {
    display: block;
    filter: opacity(0);
}

#planet>#planetright.shownreverse {
    display: block;
    filter: opacity(0);
    animation-direction: reverse;
}

@keyframes rightcrack {
    0% {transform: rotate(0deg); filter: opacity(1)}
    50% {transform: rotate(0deg); filter: opacity(1) drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.205))}
    100% {transform: rotate(90deg) translateX(100%); filter: drop-shadow(-20px 5px 15px rgba(0, 0, 0, 0.787))}
}

svg#crackbox {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: none;

    transform: translate(-30px, -50%);

    width: 50%;
    height: 100%;
    pointer-events: none;
}

svg#crackbox.shown {
    display: block;
}


svg#crackbox>polyline {
    position: absolute;

    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-dasharray: 20 20;
    stroke-linecap: round;

    animation: crack 2s linear forwards;

}

@keyframes crack {
    0% {stroke-dasharray: 20 500;}
    20% {stroke-dasharray: 20 60;}
    40% {stroke-dasharray: 20 5; stroke-width: 10;}
    50% {stroke-dasharray: 20 0; stroke-width: 16;}
    50% {stroke-dasharray: 20 0; stroke-width: 0;}
    100% {stroke-dasharray: 20 0; stroke-width: 0;}
}

.beambox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    height: 100vh;
    width: 100vw;

    pointer-events: none;

}

.beambox>* {
    fill: none;
    stroke: red;
    stroke-width: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    animation: beam 0.3s linear forwards;
}

@keyframes beam {
    0% {stroke-dashoffset: 1000; stroke-width: 10;}
    80% {stroke-dashoffset: 0; stroke-width: 20;}
    100% {stroke-dashoffset: -500; stroke-width: 10;}
}

#vessel {
    width: calc(50% - 15px);
    height: 75px;

    border: 5px solid black;
    border-top: none; 
    border-radius: 0 0 25px 25px;
    background-color: rgba(77, 172, 175, 0.233);
    filter: drop-shadow(10px 0px 10px black);

    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    margin: 0 15px 0 0;
    position: relative;

    overflow: hidden;
}

#vessel>#vesselglass {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.048));
}

#vessel>#vesselblue {
    background-color: blue;
    flex-grow: var(--blue-grow);
    position: relative;
    height: min(var(--fluid-height), 100%);

    transition: all 0.5s;
    overflow: hidden;
}

#vessel>#vesselblack {
    background-color: black;
    flex-grow: var(--black-grow);
    position: relative;
    height: min(var(--fluid-height), 100%);

    transition: all 0.5s;
    overflow: hidden;
}

#vessel>#vesselgreen {
    background-color: darkolivegreen;
    flex-grow: var(--green-grow);
    position: relative;
    height: min(var(--fluid-height), 100%);

    transition: all 0.5s;
    overflow: hidden;
}

#vessel>#vesselblack>div, #vessel>#vesselblue>div, #vessel>#vesselgreen>div {
    color: white;
    font-size: 2.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hotitems {
    position: absolute;
    top: 5px;
    right: 20px;


    display: flex;
    gap: 5px;
}

#hotitems>.hotitem img {
    height: 27px;
}

#hotitems>.hotitem>div {
    position: relative;
    display: flex;
}

#hotitems>.hotitem .hotitemcount {
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}

#vessel>#percentages {
    background-color: white;

    position: absolute;
    bottom: -30px;
    left: 0;
}

#clickerinventory {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgb(95, 35, 151);
    border: 5px solid black;
    border-radius: 0 0 25px 0;
    

    box-sizing: border-box;
    transform: translateX(-100%);
    height: 100%;
    width: 50%;
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

#clickerinventory>img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#clickerinventory.shown {
    transform: translateX(0%);
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.733));
}

#clickerinventory>.clickerinvitem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    z-index: 0;

    padding: 10px;
    margin: 0 10px;
    border: 5px solid black;
    border-radius: 10px 0 10px 0;
    box-shadow: inset 5px 5px 0px rgb(48, 0, 93);

    background-color: rgb(124, 77, 168);

    position: relative;
}

#clickerinventory>.clickerinvitem>.namecountbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: -20px;
    font-size: 1rem;
    color: white;

    position: relative;
}

#clickerinventory>.clickerinvitem>.namecountbox>.invcount {
    font-size: 2rem;
}


.usebtn {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: -1;

    border-radius: 0 0 10px 0;
    height: 100%;
    background-color: rgb(124, 77, 168);
    color: transparent;
    transform: translateX(0%);
    border: 5px solid black;
    border-left: none;
    padding-left: 30px;
    padding-right: 5px;
    box-shadow: inset 0px 5px 0px rgb(48, 0, 93);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.usebtn>img {
    height: 30px;
    
}

.usebtn.shown {
    color: white;
    transform: translateX(83%);
}

#clickerrecipes {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;

    background-color: rgb(95, 35, 151);
    border: 5px solid black;
    border-radius: 0 0 0 25px;
    

    box-sizing: border-box;
    transform: translateX(100%);
    height: 100%;
    width: 50%;
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

#clickerrecipes>img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#clickerrecipes.shown {
    transform: translateX(0%);
}

#recentitem {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    transform: translateX(-100%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
}

#recentitem.shown {
    transform: translateX(0%);
}

#recentitem>img {
    height: 70px;
    filter: drop-shadow(5px 5px 5px black);

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    transition: all 0.3s;
}

#recentitem>img.shown {
    animation: imagebounce 1s;
}

@keyframes imagebounce {
    0% {height: 70px}
    50% {height: 120px}
    100% {height: 70px}
}



#navtogglebtn {
    position: absolute;
    bottom: 15px;
    right: 15px;

    height: 55px;
    width: 55px;

    border: 5px solid black;
    border-radius: 100%;
    transition: all 0.3s;
    filter: drop-shadow(0 6px 0 black);
}

#navtogglebtn>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
}

#navtogglebtn.flipped {
    transform: scaleX(-100%) translateY(4px);
    filter: drop-shadow(0 2px 0 black);
}

#clickernav {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;

    background-color: rgb(95, 35, 151);
    width: 100vw;
    height: 25vw;

    box-sizing: border-box;
    gap: 5px;
    padding: 5px 5px 12px 5px;

    transition: all 500ms;
    transition-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
    transform: translateX(100%);
}

#clickernav.shown {
    transform: translateX(0%);
}

#clickernav>.clickernavitem {
    flex-grow: 1;
    background: rgb(201,201,39);
    background: linear-gradient(150deg, rgba(201,201,39,1) 0%, rgba(255,253,227,1) 70%, rgba(222,221,51,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 15px 15px 0;
    border: 5px solid black;
    filter: drop-shadow(0px 7px 0px black);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.2, 1);
    font-family: magnawave, sans-serif;
}

#clickernav>.clickernavitem:first-child {
    border-radius: 15px 0 0 15px;
}   

#clickernav>.clickernavitem.selected {
    filter: drop-shadow(0px 2px 0px black);
    transform: translateY(5px);
}