body {
  margin: 0;
}

#app {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 1fr 25vw;
}

#header {
    background-color: teal;
    width: 100vw;
    flex-grow: 1;
    position: relative;

    display: flex;
    align-items: center;
    gap: 20px;
}

#header>img {
    position: absolute;
    top: 0;
    right: 0;

    height: 50px;
}

#header>#coins {
    font-size: 2.5rem;
}

#accountinfo {

}

#accountinfo>img {
    height: 50px;
}

#navbar {
    width: 100vw;

    flex-grow: 1;
    display: flex;
    background-color: red;
}

.navitem {
    flex-grow: 1;
    border: 5px solid black;


}

#assets, #market {
    overflow: scroll;
    background-color: goldenrod;
    flex-grow: 1;
}

#nftcontainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.nftitem {
    /* border: 5px solid black; */
    position: relative;
}

.nftitem>img {
    width: 40vw;
    display: block;
}

.nftitem>.nftinfo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.514);
    pointer-events: none;
    filter: opacity(0);

    transition: all 0.3s;

    width: 40vw;
    height: 40vw;

    color: white;
}

.nftitem>.nftinfo.shown {
    filter: opacity(1);
}

.nftitem button {
    pointer-events: all;
}